/* News List */
/* ========================================================================== */

.news_list {
    list-style: none;
}
.news_list li {
    margin: 10px 0;
}
.news_list li .date {
    font-family: 'Droid Serif', 'DejaVu Serif', Cambria, Georgia, serif;
    color: #888a85;
    margin-top: 0.1em;
    display: block;
}
.news_list li a {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
}

/* Press Release */
/* ========================================================================== */

.press_list {
    display: table;
}
.press_list li {
    display: table-row;
}
.press_list li.year {
    font-weight: bold;
    font-size: 16px;
}
.press_list li.year:not(:first-child) span {
    display: table-cell;
    padding-top: 20px;
}
.press_list li .date {
    font-family: 'Droid Serif', 'DejaVu Serif', Cambria, Georgia, serif;
    color: #888a85;
    padding-top: 10px;
    padding-right: 20px;
    display: table-cell;
    vertical-align: top;
    line-height: 20px;
    white-space: nowrap;
}
.press_list li a {
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    display: table-cell;
    padding: 8px 0 4px;
    vertical-align: top;
    line-height: 20px;
    text-decoration: none;
}
.press_list li a:hover {
    text-decoration: underline;
}
